.Rproj.user/BBD39664
CompSign.Rproj
CompSign.pdf
vignette_knitr/Compsign_vignette-blx.bib
vignette_knitr/Compsign_vignette-concordance.tex
vignette_knitr/Compsign_vignette.log
vignette_knitr/Compsign_vignette.run.xml
vignette_knitr/Compsign_vignette.synctex.gz
vignette_knitr/Compsign_vignette.tex
vignette_knitr/Compsign_vignette.toc
vignette_knitr/tmp_test_debugging.R
.DS_Store
R/not_used 


inst/doc
