exportPattern("^[[:alpha:]]+")
useDynLib(diagRE_dirichletmultinomial_single_lambda)
useDynLib(diagRE_ME_dirichletmultinomial)
useDynLib(diagRE_ME_multinomial)
useDynLib(FE_dirichletmultinomial_single_lambda)
useDynLib(FE_dirichletmultinomial)
useDynLib(fullRE_dirichletmultinomial_single_lambda)
useDynLib(fullRE_ME_dirichletmultinomial_onefixedlambda)
useDynLib(fullRE_ME_dirichletmultinomial)
useDynLib(fullRE_ME_multinomial)
useDynLib(singleRE_dirichlet_multinomial)
useDynLib(diagREpatientlambda_ME_dirichletmultinomial)
useDynLib(fullREpatientlambda_ME_dirichletmultinomial)