exportPattern("^[[:alpha:]]+")
useDynLib(fullRE_ME_singlelambda_dirichletmultinomial)
useDynLib(diagRE_dirichletmultinomial_single_lambda)
useDynLib(diagRE_ME_dirichletmultinomial)
useDynLib(diagRE_ME_dirichletmultinomialreducedmodel)
useDynLib(diagRE_ME_multinomial)
useDynLib(FE_dirichletmultinomial_single_lambda_copy)
useDynLib(FE_dirichletmultinomial_single_lambda)
useDynLib(FE_dirichletmultinomial)
useDynLib(FE_multinomial)
useDynLib(fullRE_dirichletmultinomial_single_lambda_REv2)
useDynLib(fullRE_dirichletmultinomial_single_lambda)
useDynLib(fullRE_dirichletmultinomial_single_lambda2)
useDynLib(fullRE_ME_dirichletmultinomial_onefixedlambda)
useDynLib(fullRE_ME_dirichletmultinomial_onefixedlambda2)
useDynLib(fullRE_ME_dirichletmultinomial_onefixedlambda3)
useDynLib(fullRE_ME_dirichletmultinomial_sparsecov)
useDynLib(fullRE_ME_dirichletmultinomial_sparsecov2)
useDynLib(fullRE_ME_dirichletmultinomial)
useDynLib(fullRE_ME_dirichletmultinomialnoscaling)
useDynLib(fullRE_ME_halfdirichletmultinomial)
useDynLib(fullRE_ME_multinomial)
useDynLib(ME_dirichletmultinomial_single_lambda)
useDynLib(singleRE_dirichlet_multinomial)